.app-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.title-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dados-user-nav {
    display: flex;
    flex-direction: column;
}