.NavbarContainer{
    background-color: #a20000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    color: #ffffff;
}

.NavbarContainer .user-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.NavbarContainer .user-container>div{
    padding: 0 5px;
}


.dados-user-nav {
    display: flex;
    flex-direction: column;
}