.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;

}

.login-container form input {
    margin-top: 20px;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
}


.login-container form h3 {

    align-self: center;
    font-size: 40px;
}


.login-container form input::placeholder {
    color: #999;
}

.login-container form button {
    margin-top: 10px;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    height: 48px;
    background:  #ff6666 ;

}

.login-container form a {
    margin-top: 10px;
    align-self: center;
    color: #999;
    font-size: 14px;
}