html, body, #root {
    margin:0; 
    padding:0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}


.title-error {
    font-size: 24px;
    margin-bottom: 10px;
}

.search-list-erro {

    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;

}

.inputPesquisar {

    border-radius: 3px;
    margin-left: 10px;

}