.title-error {
    font-size: 24px;
    margin-bottom: 10px;
}

.search-list-erro {

    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;

}

.inputPesquisar {

    border-radius: 3px;
    margin-left: 10px;

}